<header class="main-header">
    <h1 class="nombre">Hola, Soy Jonatan raul ospina chaparro</h1>
    <p class="descripcion">Desarrollador web y apasionado de la tecnología. Bienvenidos a mi página personal.</p>
</header>

<main>
    
    <section class="social">
        <h2>Sígueme en:</h2>
        <ul class="social-links">
            <li>
                <a href="https://twitter.com" target="_blank">
                    <img src="img/5282551_tweet_twitter_twitter logo_icon.png" alt="twitter" class="icon">
                </a></li>
            <li><a href="https://github.com" target="_blank">
                <img src="img/4747499_github_icon.png" alt="github" class="icon">
            </a></li>
            <li><a href="https://linkedin.com" target="_blank">
                <img src="img/104493_linkedin_icon.png" alt="linkedin" class="icon">
            </a></li>
        </ul>
    </section>
    <section class="about">
        <h2>Acerca de mi</h2>
        <img src="img/gettyimages-3438842-612x612.jpg" alt="Foto de jonatan ospina">
    </section>
    <!-- APRENDER A AGREAGAR UN FORMULARIO -->
     <section class="contact">
        <h2>Contactame</h2>
        <form>
            <label for="name">Nombre:</label>
            <input type="text" id="name" placeholder="Escribe tu nombre">

            <label for="message">Mensaje:</label>
            <textarea  id="message" placeholder="Escribe tu mensaje aqui"></textarea>
            <button type="submit">Enviar</button>
        </form>

     </section>
     <article>
        <h2>Ultimo proyecto</h2>
        <p>Este es el ultimo proyecto en que he trabajado.consiste en desarrollar una aplicacion web con Angular</p>
    </article>
    <aside>
        <h3>Recursos recomendados</h3>
        <ul>
            <li><a href="https://angular.io">Ocumentacion oficial de Angular</a></li>
            <li><a href="https://developer.mozilla.org/es/docs/Web/HTML">Guia de HTML</a></li>
        </ul>
    </aside>
    </main>

<footer>
    <p>Creado por Jonatan Raul ospina chaparro - 2024</p>
</footer>
